$enable-gradients: true;
$primary: #8B0000;
@import '~bootstrap/scss/bootstrap';
h1 {
  color: white;
  text-align: center;
}
h2 {
  color: white;
  text-align: center;
}
body {
  background-color: black;
}

.cards {
  margin-bottom: 10px;
  align-self: center;
}

.grid {
  background-color: transparent;
  float: none;
  margin: 0 auto;
  margin-bottom: 3px;
  margin-top: 14px;
  object-fit: cover;
  padding: 10px;
}

.profile {
  max-width: 1000px;
}
.profile-container {
  display: flex;
  max-width: 1000px;
  flew-wrap: wrap;
  justify-content: center;
  display: grid;
  flex-direction: column-reverse;
  grid-template-columns: repeat(auto-fill,minmax(293px, 1fr));
}

.image {
  height: 293px;
  width: 293px;
  object-fit: cover;
}

.image:hover {
  filter: opacity(.5);
}

.newsFeed {
  display: flex;
  flex-direction: column;
  align: center;
}
